* {
  background-color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 20px;
  margin-right: 20px;
}

h1 {
  color: black;
}

h2 {
  color: brown;
}

h3 {
  color: #ff7a00;
}

ul {
  list-style: circle;
}

/* .nav ul {
  list-style: none;
} */
/* Add a black background color to the top navigation */
nav {
  background-color: #fafafa;
  overflow: hidden;
}

/* Style the navigation a inside the nativation */
nav a {
  float: left;
  color: #898585;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
nav a:hover {
  background-color: #ddd;
  color: black;
}
/* Add a color to the active/current link */
nav a.active {
  background-color: #04aa6d;
  color: white;
}
